<footer id="page-footer" class="opacity-0 bg-primary-lighter" style="opacity: 1;">
  <div class="content py-20 font-size-xs clearfix">
    <div class="float-right">
      Created <i class="si si-globe text-pulse"></i> by <a class="font-w600" href="https://www.linkedin.com/in/ivan-zolotukhin/" target="_blank">Zolotukhin</a>
    </div>
    <div class="float-left">
      <a class="font-w600" href="https://www.linkedin.com/in/ivan-zolotukhin/" target="_blank">@KharkivShop</a> © <span class="js-year-copy">2017-18</span>
    </div>
  </div>
</footer>
