<h1>About Us</h1>
<p>Some random text.</p>
<h2 (click)="checkClick($event)">Send feedback</h2>
<button
  class="btn-primary"
  (click)="checkClick($event)"
>Press to leave this route</button>

<div class="file">
  <input
    type="file"
    class="d-none"
    [attr.multiple]="multiple ? true : null"
    (change)="onChangeHandler()"
  >

  <div class="d-flex">
    <button class="p-2 text-uppercase" (click)="emitInputClick()">Select File</button>
    <button class="ml-2 p-2 text-uppercase" (click)="startUploading()">Load File</button>
    <div
      class="drop ml-2 p-4 bg-primary"
      (dragover)="cancelDragEvent($event)"
      (drop)="cancelDragEvent($event); onChangeHandler($event.dataTransfer.files);"
    ></div>
  </div>
  <div *ngIf="!!files?.length">
    <div
      class="d-flex"
      *ngFor="let file of files"
    >
      <span>{{ file.name }} ({{ file.lastModified | date:'short' }})</span>
      <button (click)="deleteFile(file)">&times;</button>
    </div>
  </div>
</div>
